<% layout('layout') %>
<% stylesheet('/stylesheets/css/login.css') %>

<% include template/nav %>

<h1 class="text-center my-5">喔不~~~</h1>
<br>
<p class="text-center word">出現問題了
</p>
<p class="text-center word">
找不到頁面，重新整理看看吧
</p>


<% script()%>