<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %> </title>
  <link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css">
  <%- stylesheets %>
</head>
<body>


<%- body %>

<script src="../../javascripts/lib/jquery-3.3.1.min.js"></script>
<script src="../../javascripts/lib/bootstrap.bundle.min.js"></script>
<%- scripts %>
</body>
</html>