<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css">
  <link rel='stylesheet' href='/stylesheets/css/login.css'/>
</head>
<body>
  <!-- nav -->
  <%- include template/nav %>

  <!-- 登入表格 -->
  <h1 class="text-center mt-5 loginTitleWord"><%= title %></h1>

  <!-- error text -->
  <div class="errorTextBorder">
    <div class="errorCenter">
      <img src="../images/cancel-mark.svg" alt="error" class="errorIcon">
      <span class="errorText">123</span>
    </div>
  </div>



  <form id="loginForm" action="/user/login" method="post">
    <div class="form-group row mb-4">
      <label for="account" class="col-2 col-form-label loginTitle">帳號</label>
      <input type="text" id="account" class="form-control col-5" name="account" placeholder="abc123@example.com" >
    </div>
    <div class="form-group row">
      <label for="pwd" class="col-2 col-form-label loginTitle">密碼</label>
      <input type="password" id="pwd" class="form-control col-5" name="pwd" placeholder="至少6位元">
    </div>
  </form>


  <!-- send -->
  <div class="d-flex mt-5">
    <input form="loginForm" type="submit" id="send" class="btn btnSend px-5 mx-auto mb-3 mt-2" value="送出">
  </div>

  <div class="text-center">
    <a href="/user/password/new" class="link">忘記密碼</a>
  </div>


<script src="../javascripts/lib/jquery-3.3.1.min.js"></script>
<script src="../javascripts/lib/bootstrap.bundle.min.js"></script>
<script src="../javascripts/loginPage.js"></script>
</body>
</html>