<% layout('layout') %>
<% stylesheet('/stylesheets/css/login.css') %>

<% include template/nav %>

<h1 class="text-center my-5">寄出驗證信囉!</h1>
<br>
<p class="text-center word">我們已發送電子郵件到你的信箱。請點擊電子郵件中的連結，重設你的密碼。
</p>
<p class="text-center word">
如果你沒有看到電子郵件，請查看其他可能的位置，例如垃圾郵件、社交網路或其他資料夾。
</p>

<!-- <div class="logAndReg">
  <a href="/user/login" class="linkSend btn">登入</a>
  <a href="/user/register" class="linkSend btn">註冊</a>
</div> -->



<% script()%>