<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>大家來註冊</title>
  <link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css">
  <link rel='stylesheet' href='/stylesheets/css/register.css'/>
</head>
<body>

<!-- nav -->
<%- include template/nav %>

<div class="bg-light px-5 py-5 d-flex background">
  <div class="function">
    <br>
    <div class="functionDescribe mb-5">免費享有所有功能</div>
    <div class="my-4">
      <div class="functionEach">個人事項記載</div>
      <div class="my-1">隨你怎麼寫</div>
    </div>
    <div class="my-5">
      <div class="functionEach">留言板</div>
      <div class="my-1">嘰哩呱啦</div>
    </div>
  </div>

<!-- 註冊表單 -->
  <div class="text-center formAll">
    <div class="mx-auto mt-4 mb-4">
      <h1><%= title %></h1>
    </div>

    <form id="registerForm" action="/user/register" class="form-group container-fluid formArea" method="post">

      <div class="row mb-4">
        <label for="account" class="col-3 col-form-label labelWord">帳號</label>
        <input type="text" id="account" name="account" placeholder="abc123@example.com" class="form-control col-9">
        <div class="w-100"></div>
        <div class="col-3"></div>
        <small class="form-text checkResultText"></small>
      </div>

      <div class="row mb-4">
        <label for="pwd"  class="col-3 col-form-label labelWord">密碼</label>
        <input type="password" id="pwd" name="pwd" placeholder="至少6位元" class="form-control col-9">
        <div class="w-100"></div>
        <div class="col-3"></div>
        <small class="form-text checkResultText"></small>
      </div>

      <div class="row mb-4">
        <label for="pwd_again" class="col-3 col-form-label labelWord ">確認密碼</label>
        <input type="password" id="pwd_again" class="form-control col-9">
        <div class="w-100"></div>
        <div class="col-3"></div>
        <small class="form-text checkResultText"></small>
      </div>

      <div class="row mb-4">
        <label for="pwd_again" class="col-3 col-form-label labelWord ">暱稱</label>
        <input type="text" name="nickname" id="nickname" class="form-control col-9">
        <div class="w-100"></div>
        <div class="col-3"></div>
        <small class="form-text colorGray">註冊後暱稱可以再改變喔!</small>
      </div>

    </form>

    <input form="registerForm" type="submit" id="send" value="送出" class="btn btnSend px-5" >

  </div>

</div>



<script src="../javascripts/lib/jquery-3.3.1.min.js"></script>
<script src="../javascripts/lib/bootstrap.bundle.min.js"></script>
<script src="../javascripts/registerPage.js"></script>
</body>
</html>