@charset "UTF-8";
body {
  font: 17px "微軟正黑體", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0; }

.navOther, .navbar-dark {
  color: #AAFFEE !important;
  font-size: 20px; }
  .navOther:hover, .navbar-dark:hover {
    color: #fff !important; }

.btnSend {
  background: #FF8800;
  color: #fff;
  margin-top: 20px; }

#loginForm {
  margin-left: 25vw; }

.loginTitleWord {
  margin-bottom: 60px; }

.loginTitle {
  font-size: 17px; }

.errorTextBorder {
  display: none;
  height: 30px;
  margin-bottom: 20px;
  border-radius: 3px; }
  .errorTextBorder .errorCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background: #FFE4E1;
    height: 100%;
    padding: 0 10px; }
    .errorTextBorder .errorCenter .errorIcon {
      height: 40%;
      margin-right: 5px; }
    .errorTextBorder .errorCenter .errorText {
      align-items: bottom;
      color: red;
      font-weight: bold; }

.link {
  font-size: 13px; }

.word {
  font-size: 20px; }

@media screen and (max-width: 992px) {
  #loginForm {
    margin-left: 7vw; } }

@media screen and (max-width: 768px) {
  #loginForm {
    margin: 0; } }

@media screen and (max-width: 576px) {
  .row {
    margin: 0 !important; } }
