@charset "UTF-8";
body {
  font: 17px "微軟正黑體", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0; }

.navOther {
  color: #AAFFEE;
  font-size: 20px; }
  .navOther:hover {
    color: #fff; }

.backgroundUrl {
  background: url("/images/mel-poole-1243828-unsplash.jpg") no-repeat fixed center top;
  background-size: cover;
  min-height: 100vh; }
  .backgroundUrl .messageWord {
    font-weight: bold; }
  .backgroundUrl #send {
    cursor: pointer;
    border: none; }
    .backgroundUrl #send:hover {
      background: #17A2B8;
      color: #FFF; }
  .backgroundUrl .textBox {
    height: 60px;
    box-sizing: border-box;
    margin-bottom: 5px; }
    .backgroundUrl .textBox .messaged, .backgroundUrl .textBox .updateText {
      font-size: 25px;
      height: 100%;
      padding: 5px; }
    .backgroundUrl .textBox .updateText {
      display: none;
      height: 100%; }
  .backgroundUrl .edit, .backgroundUrl .delete {
    width: 20px; }
    .backgroundUrl .edit img, .backgroundUrl .delete img {
      width: 100%; }
